--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn[standard]
gunicorn

sqlalchemy
psycopg2-binary
pgvector

pydantic
pydantic-settings
python-multipart
python-dotenv

torch==2.10.0+cpu
sentence-transformers==2.7.0
transformers==4.41.2
huggingface_hub
groq

scikit-learn
numpy
pandas

pypdf
python-docx
PyMuPDF
supabase
spacy
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl